%{~ for server_key, server in servers ~}
[[server]]
description = "${server.identity.description}"
name = "${server_key}"

[server.config]
address = "http://${server.hosts.internal}:8120"
enabled = true
passkey = "${server.runtime.credentials.komodo_passkey}"
region = "${server.identity.region}"

%{~ endfor ~}
