%{~ for stack_key, stack in stacks ~}
[[stack]]
description = "${stack.identity.title}"
name = "${stack_key}"

[stack.config]
auto_update = true
repo = "${owner}/${repository}"
run_directory = "${stack_key}"
server = "${stack.target}"

[stack.config.pre_deploy]
command = "export SOPS_AGE_KEY=[[AGE_SECRET_KEY]] && find . \\( -name '*.yaml' -o -name '*.toml' \\) -exec sops decrypt -i {} \\;"

%{~ endfor ~}
