services:
  shelfarr:
    environment:
%{~ for name, value in service.data.environment }
      ${name}: ${jsonencode(tostring(value))}
%{~ endfor }
    healthcheck:
      interval: 30s
      retries: 3
      start_period: 40s
      test: [CMD, curl, --fail, http://localhost:${service.routing.backend_port}/up]
      timeout: 10s
    image: ghcr.io/pedro-revez-silva/shelfarr:0.39.7
    ports:
      - ${service.routing.backend_port}:${service.routing.backend_port}
    restart: unless-stopped
    volumes:
      - /mnt/truenas-nvme/bookorbit/bookdrop:/audiobooks
      - /mnt/truenas-nvme/bookorbit/bookdrop:/comics
      - /mnt/truenas-nvme/bookorbit/bookdrop:/ebooks
      - downloads:/downloads
      - storage:/rails/storage
volumes:
  downloads: {}
  storage: {}
