[[git_provider]]
domain = "github.com"

[[git_provider.accounts]]
token = "${service.runtime.credentials.github_token}"
username = "${defaults.github.owner}"

[[resource_sync]]
name = "komodo"

[resource_sync.config]
delete = true
git_account = "${defaults.github.owner}"
managed = true
repo = "${defaults.github.owner}/${defaults.github.repositories.komodo}"
resource_path = ["."]
