[Unit]
Description=Cloudflare Tunnel

[Container]
Image=docker.io/cloudflare/cloudflared:2026.9.1
ContainerName=cloudflared
Network=host
EnvironmentFile=/etc/cloudflared/cloudflared.env
Exec=tunnel --no-autoupdate run

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
