{
  "values": {
    "bichon": {
      "encrypt_password": "${service.runtime.credentials.encrypt_password}"
    },
    "network": {
      "web_port": {
        "bind_mode": "published",
        "port_number": ${service.routing.host_port}
      }
    },
    "storage": {
      "data": {
        "host_path_config": {
          "acl_enable": false,
          "path": "/mnt/truenas-nvme/bichon"
        },
        "type": "host_path"
      }
    }
  }
}
