${yamlencode(service.data.settings)}
layout:
%{ for group_layout in custom.homepage.layout ~}
%{ for group, options in group_layout ~}
  ${jsonencode(group)}:
    columns: ${options.columns}
    style: ${options.style}
    tab: ${options.tab}
%{ endfor ~}
%{ endfor ~}
