version: 1.3.12
cache: true
endpoints:
  custom:
    - name: OpenCode Go
      apiKey: $${OPENCODE_API_KEY}
      baseURL: https://opencode.ai/zen/go/v1
      modelDisplayLabel: OpenCode Go
      titleConvo: true
      titleModel: deepseek-v4-flash
      models:
        fetch: true
        default:
          - deepseek-v4-flash
mcpSettings:
  allowedDomains:
    - "*.${defaults.domains.external}"
    - "*.${defaults.domains.internal}"
    - "${defaults.domains.external}"
    - "${defaults.domains.internal}"
