#cloud-config
hostname: ${server.name}
locale: ${defaults.locale}
package_reboot_if_required: true
package_update: true
package_upgrade: true
packages: [curl, sudo]
ssh_pwauth: false
timezone: ${defaults.timezone}
groups:
%{ if server.resources.docker ~}
  - docker
%{ endif ~}
  - sudo
runcmd:
  - sysctl --system
%{ if server.resources.docker ~}
  - curl -fsLS https://get.docker.com | sh
%{ endif ~}
%{ if server.resources.cloudflared ~}
  - curl -fsLS https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-$(dpkg --print-architecture).deb -o /tmp/cloudflared.deb && dpkg -i /tmp/cloudflared.deb && rm /tmp/cloudflared.deb
  - cloudflared service install ${server.output.cloudflared_tunnel_token_sensitive}
%{ endif ~}
%{ if server.resources.tailscale ~}
  - curl -fsLS https://tailscale.com/install.sh | sh
  - tailscale up --advertise-exit-node --authkey ${server.output.tailscale_auth_key_sensitive} --hostname ${server.slug}
%{ endif ~}
users:
  - name: ${server.username}
    hashed_passwd: ${server.password_hash}
    lock_passwd: false
    shell: ${defaults.shell}
    ssh_authorized_keys: ${jsonencode(server.ssh_keys)}
    groups:
%{ if server.resources.docker ~}
      - docker
%{ endif ~}
      - sudo
write_files:
  - path: /etc/networkd-dispatcher/routable.d/50-network
    permissions: "0755"
    content: |
      #!/bin/sh
      ethtool -K $(ip -o route get 1.1.1.1 | cut -d " " -f 5) rx-gro-list off rx-udp-gro-forwarding on
  - path: /etc/sysctl.d/50-network.conf
    content: |
      net.core.rmem_max=8388608
      net.core.wmem_max=8388608
      net.ipv4.conf.all.forwarding=1
      net.ipv6.conf.all.forwarding=1
