services:
  periphery:
    environment:
      PERIPHERY_PASSKEY: ${server.state.secrets.komodo_passkey}
      SOPS_AGE_KEY: ${server.state.secrets.age_secret_key}
    image: ghcr.io/moghtech/komodo-periphery:latest
    network_mode: host
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
