services:
  periphery:
    environment:
      PERIPHERY_PASSKEY: ${server.runtime.credentials.komodo_passkey}
      SOPS_AGE_KEY: ${server.runtime.credentials.age_secret_key}
    image: ghcr.io/moghtech/komodo-periphery:2.2.0
    network_mode: host
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
