{
  "values": {
    "homepage": {
      "mount_docker_socket": true
    },
    "network": {
      "host_network": false,
      "web_port": {
        "bind_mode": "published",
        "port_number": ${service.networking.port}
      }
    },
    "storage": {
      "config": {
        "ix_volume_config": {
          "acl_enable": false,
          "dataset_name": "config"
        },
        "type": "ix_volume"
      }
    }
  }
}
