{
  "values": {
    "network": {
      "host_network": false,
      "http_port": {
        "bind_mode": "published",
        "port_number": ${service.networking.port}
      },
      "https_port": {
        "bind_mode": "published",
        "port_number": 30117
      }
    }
  }
}
