app = "${service.fly.app_name}"
primary_region = "${service.fly.region}"

[build]
${service.fly.image != null ? "image = \"${service.fly.image}\"" : "dockerfile = \"Dockerfile\""}

[http_service]
force_https = ${service.routing.ssl}
internal_port = ${service.routing.port}

[[vm]]
cpu_kind = "${service.fly.cpu_kind}"
cpus = ${service.fly.cpus}
memory_mb = ${service.fly.memory_mb}
