{
  "values": {
    "aiostreams": {
      "base_url": "${service.urls.default.href}",
      "secret_key": "${service.runtime.credentials.secret_key}"
    },
    "network": {
      "web_port": {
        "bind_mode": "published",
        "port_number": ${service.routing.host_port}
      }
    },
    "storage": {
      "data": {
        "ix_volume_config": {
          "acl_enable": false,
          "dataset_name": "data"
        },
        "type": "ix_volume"
      }
    }
  }
}
