{
  "values": {
    "librechat": {
      "allow_registration": ${service.data.allow_registration},
      "jwt_refresh_secret": "${service.runtime.credentials.jwt_refresh_secret}",
      "jwt_secret": "${service.runtime.credentials.jwt_secret}",
      "meilisearch_master_key": "${service.runtime.credentials.meilisearch_master_key}",
      "mongo_db_password": "${service.runtime.credentials.mongo_db_password}",
      "openai_api_key": "${service.runtime.credentials.openai_api_key}",
      "pg_db_password": "${service.runtime.credentials.pg_db_password}",
      "postgres_image_selector": "postgres_18_image"
    },
    "network": {
      "web_port": {
        "bind_mode": "published",
        "port_number": ${service.routing.host_port}
      }
    },
    "storage": {
      "images": {
        "ix_volume_config": {
          "acl_enable": false,
          "dataset_name": "images"
        },
        "type": "ix_volume"
      },
      "logs": {
        "ix_volume_config": {
          "acl_enable": false,
          "dataset_name": "logs"
        },
        "type": "ix_volume"
      },
      "meili_data": {
        "ix_volume_config": {
          "acl_enable": false,
          "dataset_name": "meili_data"
        },
        "type": "ix_volume"
      },
      "mongodb_data": {
        "ix_volume_config": {
          "acl_enable": false,
          "dataset_name": "mongodb_data"
        },
        "type": "ix_volume"
      },
      "postgres_data": {
        "ix_volume_config": {
          "acl_enable": false,
          "dataset_name": "pg_data"
        },
        "type": "ix_volume"
      },
      "uploads": {
        "ix_volume_config": {
          "acl_enable": false,
          "dataset_name": "uploads"
        },
        "type": "ix_volume"
      }
    }
  }
}
