services:
  beszel-agent:
    environment:
      HUB_URL: ${service.data.hub_url}
      KEY: ${service.data.public_key}
      LISTEN: ${service.data.listen}
      TOKEN: ${server.runtime.credentials.beszel_agent_token}
    image: henrygd/beszel-agent:latest
    network_mode: host
    restart: unless-stopped
    volumes:
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - data:/var/lib/beszel-agent
volumes:
  data:
