services:
  beszel-agent:
    environment:
      HUB_URL: ${services.beszel.urls.default.href}
      KEY: ${service.data.public_key}
      LISTEN: ${service.data.listen}
      TOKEN: ${service.runtime.credentials.token}
    image: henrygd/beszel-agent:latest
    network_mode: host
    restart: unless-stopped
    volumes:
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - data:/var/lib/beszel-agent
volumes:
  data:
