services:
  beszel-agent:
    image: henrygd/beszel-agent
    labels:
      ${containers["beszel-agent"].labels_yaml}
    network_mode: host
    restart: unless-stopped
    volumes:
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - data:/var/lib/beszel-agent
volumes:
  data:
